.nav-drawer {
    position: fixed;
    top: 72px;
    bottom: 0;
    left: 0;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--nav-color);
}

.nav-drawer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
}

.nav-drawer li {
    list-style: none;
}

.nav-drawer ul li a {
    display: inline-block;
    color: var(--tertiary);
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    /* transform-origin: left center; */
}

.nav-drawer ul li a:hover,
.nav-drawer ul li a.active {
    transform: scale(1.5);
    color: var(--main-color);
    text-shadow: 1.5px 1.1px 0 rgba(0, 0, 0, 0.5);
}