.navbar {
    background-color: var(--navbar-color);
    display: grid;
    grid-template-columns: 400px 1fr 400px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 72px;
}

.navbar-logo a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-logo-img {
    height: 40px;
    margin: 0 10px 0 0;
}

.navbar-logo-text {
    color: var(--text-color);
    font-size: 24px;
    font-weight: bold;
}

.navbar-links {
    flex: 1;
    display: flex;
    gap: 60px;
    justify-content: center;
    list-style: none;
}

.navbar-links a {
    color: #ffffff;
    font-size: 18px;
}