@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
    --main-color: #9D00FF;
    --hover-color: #BE56FF;
    --text-color: #ffffff;
    --nav-color: #000000;
    --bg-color: #111111;
    --secondary: #313131d2;
    --tertiary: #ffffff;
    --highlight-color: #444444;
}

* {
    margin: 0;
    padding: 0;
    font-family: Lexend, sans-serif, Arial;
    text-decoration: none;
    transition: all 0.2s ease;
    box-sizing: border-box;
}

body {
    padding: 72px 0 0 0;
    background-color: var(--bg-color);
}

body.light {
    --bg-color: #ffffff;
    --text-color: #000000;
    --secondary: #ffffffd2;
    --nav-color: #696969;
    --highlight-color: #a3a3a3;

}

main {
    padding: 0 0 0 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 72px);
}

main h1 {
    font-size: 4rem;
    font-weight: 700;
    color: var(--text-color);
}